.button {
  display: block;
  border: 0px;
  border-radius: 7px;
  padding: 10px 30px;
  background-color: $btn-color;
  color: $primary-white-color;
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.0025em;
  cursor: pointer;

  &:hover {
    background-color: $active-color;
  }
}
